* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Roboto', sans-serif;
    height: 100vh;

}

/* header  */
.debug-header{

    display: flex;
    height: 70px;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
}

.navig-sinistra, .navig-destra{
    gap: 20px;
    display: flex;
    align-items: center;
}
.list-style li, a{
    
    
    list-style-type: none;
    display: inline;
    list-style-type: none;
    color: black;
    text-decoration: none;
    margin: 15px;
}

button{
    
    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: #0061FF;
    color: white;
    padding: 8px 15px;
}
   
/* header  */

.debug-main{
    margin-top: 70px;
    
    
}

.sezione-azzurra{
background-color: #b4d0e7;

}
.sezione-azzurra{
    
    padding: 3% 20%;

    
    
   
}
h1{

    font-size: 70px;
}

h2{
    font-size: 40px;
}

.jumbo{
    display: block;
    width: 100%;
    
    
  
    
}
.fianco{
    line-height: 25px;
    margin: 3% 0;
    display: flex;
    
}

.image{
    display: flex;
    flex-grow: 2;
    
}

.btn{
    display: block;
    margin: 30px 0;
}
.fa-arrow-down{

    padding-top: 15%;
    font-size: 40px;
}  

.testo{
    
    flex-grow: 1;
}
.sezione-abboanmenti{

    padding: 5% 25%;
    
}
.container-abbonamenti{
    margin-top: 20px;
    display: flex;
    gap: 50px;

}

.radio-button{

    display: inline-block;
    margin: 40px 40px 40px 0;
    

}
.abbonamento-singolo, .abbonamento-team, .abbonamento-azienda{
    flex-grow: 1;
    border: 1px solid black;
    justify-content: space-between;
    
    
}
.tipo-abbonamento{
    padding: 15px 5px;
    border: 1px solid black;
    text-align: center;
    
}

.titolo-abbonamento{
    line-height: 50px;
    padding: 20px 10px;
}

.titolo-abbonamento h3{

    font-size: 25px;
}