* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
    height: 100vh;

}

/* header  */
.debug-header {

    display: flex;
    height: 70px;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
}

.navig-sinistra,
.navig-destra {
    gap: 20px;
    display: flex;
    align-items: center;
}

.list-style li,
a {


    list-style-type: none;
    display: inline;

    color: black;
    text-decoration: none;
    margin: 15px;
}

button {

    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: #0061FF;
    color: white;
    padding: 8px 15px;
}

/* header  */

.debug-main {
    margin-top: 70px;


}

.sezione-azzurra {
    background-color: #b4d0e7;

}

.container {

    max-width: 70%;
    margin: 0 auto;

}

.container, .jumbo-container {
    
    position: relative;
    bottom: -70px;
}

h1 {

    font-size: 70px;
}

h2 {
    font-size: 40px;
}

h3{

    font-size: 25px;
}
.jumbo {

    display: block;
    width: 100%;


}

.fianco {
    line-height: 25px;
    margin-top: 50px;
    display: flex;

}

.image {
    display: flex;
    

}

.btn {
    display: block;
    margin: 30px 0;
}

.fa-arrow-down {

    padding-top: 15%;
    font-size: 40px;
}



.sezione-abbonamenti {

    padding: 5% 25%;

}

.container-abbonamenti {
    margin-top: 20px;
    display: flex;
    gap: 50px;
    
}

.radio-button {

    display: inline-block;
    margin: 40px 40px 40px 0;


}

.abbonamento {
   
    width: 100%;
    border: 1px solid black;
    justify-content: space-between;


}

.tipo-abbonamento {
    padding: 15px 5px;
    border-bottom: 1px solid black;
    text-align: center;

}

.info-abbonamento {
    padding: 20px;
    line-height: 60px;
}

.titolo-abbonamento h3 {

    font-size: 25px;
}

.contenuto-abbonamento li, .punti-salienti li {

    list-style-type: none;
    line-height: normal;
    margin-top: 30px;
    display: flex;

}

.fa-solid{

    margin-right: 10px;
}

.fa-check{

    color: #0061ff;
}

.abbonamento-largo{
    margin-top: 20px;
    width: 100%;
    display: flex;
    
}

.abbonamento-largo .info-abbonamento{
    
    display: flex;
}


.sezione-partner{

    padding: 5% 25%;
}

.partner-container{
    
    display: flex;
}

.partner-container .jumbo{
    
    width: 100%;
}

.paragrafo-partner{
    width: 40%;
    padding: 50px;
}
.image-partner{
    width: 60%;
    display: flex;
}

.paragrafo-partner h3, p{

    margin-bottom: 40px;
}

.paragrafo-partner .btn{

    border: 1px solid black;
    background-color: white;
    color: black;

}

.container-operazioni{
    padding: 5% 25%;
    width: 100%;
    
    
}

.operazioni{
    justify-content: space-between;
    margin: 50px 0;
    display: flex;
    gap: 50px;
}

.operazioni h3 {
    
    margin: 30px 0;
}