* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Roboto', sans-serif;
    height: 100vh;

}

/* header  */
.debug-header{

    display: flex;
    height: 70px;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
}

.navig-sinistra, .navig-destra{
    gap: 20px;
    display: flex;
    align-items: center;
}
.list-style li, a{
    
    
    list-style-type: none;
    display: inline;
    list-style-type: none;
    color: black;
    text-decoration: none;
    margin: 15px;
}

button{
    
    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: #0061FF;
    color: white;
    padding: 8px 15px;
}
   
/* header  */

.debug-main{
    padding-top: 120px;
    background-color: #b4d0e7;
    display: flex;
}

.sezione-azzurra{
     width: 60vw;
     margin: auto;
    
    
   
}
h1{

    font-size: 70px;
}

.jumbo{
    display: block;
    width: 100%;
    
  
    
}
.fianco{
    line-height: 25px;
    margin: 3% 0;
    display: flex;
    
}

.image{
    display: flex;
    flex-grow: 2;
    
}

.btn{
    display: block;
    margin: 30px 0;
}
.fa-arrow-down{

    padding-top: 15%;
    font-size: 40px;
}  

.testo{
    
    flex-grow: 1;
}